django
requests
pycryptodome
curl_cffi
aiohttp==3.9.0b0
certifi
browser_cookie3
websockets
js2py
flask
flask-cors
typing-extensions
PyExecJS
duckduckgo-search
nest_asyncio
waitress
werkzeug
loguru
tiktoken
pillow
platformdirs
numpy
g4f