{% include 'include/header.html' %} 
<link href="static/voice_recognition/home.css" rel="stylesheet">
<link href="static/voice_recognition/loading.css" rel="stylesheet">
<link href="static/voice_recognition/loading.min.css" rel="stylesheet">

<body>
    {% include 'include/preloader.html' %}
    <div class="container mt-5">
        <div class="row justify-content-center align-items-center" style="min-height: 70vh;">
            <div class="col-12 text-center">
                <h1>Speech Recognition</h1>
                <p>Click the microphone and start speaking.</p>
    
                <!-- Speech recognition button -->
                <form id="transcript">
                    {% csrf_token %}
                    <button id="startBtn" type="button" class="btn btn-primary" style="background:transparent;border:none;">
                        <lord-icon
                            src="https://cdn.lordicon.com/pbbsmkso.json"
                            trigger="hover"
                            colors="primary:#1c4987,secondary:#0056a4"
                            style="width:250px;height:250px">
                        </lord-icon>
                    </button>
                    <input id="output" type="hidden">
                </form>
            </div>
        </div>
    </div>
</body>
<script src="static/voice_recognition/speech_recog.js"> </script>
{% include 'include/footer.html' %}
