body, html {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat';
  color: white;
}

.app-wrap {
  height: 100%;
  width: 100%;
  display: flex;
}

.editor-wrap {
  width: 100%;
  height: 100%;
}

.pages-wrp, .pages {
  display: flex;
  flex-direction: column;
}

.pages-wrp {
  background: linear-gradient(to right, #419197, #176B87); /* Updated color */
  width: 15%;
  opacity: 1;
  transition: all 0.3s ease; /* Added transition for smooth effect */
}

.pages-wrp:hover {
  width: 22%; /* Increase width on hover */
  opacity: 1; /* Make fully visible on hover */
}

.add-page {
  color: white;
  padding: 10px;
  border-radius: 2px;
  cursor: pointer;
  white-space: nowrap;
  margin-bottom: 10px;
  transition: background-color 0.3s ease; /* Added transition for background color change */
}

.add-page:hover {
  background-color: #04364A; /* Updated color on hover */
}

.page {
  color: white;
  padding: 15px;
  margin-bottom: 5px;
  border-radius: 5px; /* Rounded corners for a modern look */
  cursor: pointer;
  text-transform: capitalize;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Added transitions for background color and transform effects */

  &.selected {
    background-color: #04364A; /* Updated color for selected page */
  }

  &:hover {
    background-color: #04364A; /* Updated color on hover */
    transform: scale(1.05); /* Scale up slightly on hover */
  }
}

.page-close {
  opacity: 0.5;
  float: right;
  background-color: #04364A;
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 50%; /* Circular close button */
  transition: opacity 0.3s ease; /* Added transition for opacity change */

  &:hover {
    opacity: 1;
  }
}
