@media (max-width: 767.98px) {
  .navbar-nav {
    text-align: center;
    margin: 0 auto;
  }
}

.swal2-popup {
  background: linear-gradient(45deg, #176B87, #04364A) !important;
}

.swal2-input, .swal2-title{
  color: #fff !important;
}

body {
  font-family: 'Montserrat';
  background-color: #f8f9fa;
}

.navbar {
  background-color: #343a40;
}

.navbar-brand {
  color: #ffffff;
  font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #ced4da;
}

.list-group-item {
  border: 1px solid #dee2e6;
  margin-bottom: 5px;
  border-radius: 5px;
}

.list-group-item:hover {
  background-color: #f8f9fa;
}

.list-group-item i {
  cursor: pointer;
  color: #dc3545;
}

.list-group-item i:hover {
  color: #bd2130;
}

h2 {
  color: #343a40;
}

.placeholder-text {
  color: #6c757d;
  text-align: center;
  margin-top: 10px;
}

body {
  background-color: #F1F2EB; /* Set a dark background color fitting the navbar gradient */
}
.navbar {
  background: linear-gradient(135deg, #04364A, #176B87);
}

.card {
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #176B87;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.card-body {
  padding: 20px;
}

.list-group-item {
  padding: 15px;
  border: none;
  border-bottom: 1px solid #ddd;
}

.list-group-item:last-child {
  border-bottom: none;
}

.thumbnail {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 10px;
}

.btn-main{
  background-color: #176B87;
  color: #ddd;
}

.btn-main:hover{
  opacity: 80%;
  color: #ddd;
}

.card-header {
  font-family: 'Montserrat';
  background: linear-gradient(315deg, #64CCC5 20%, #04364A 98%);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

  @keyframes gradient {
      0% {
          background-position: 0% 0%;
      }
      50% {
          background-position: 100% 100%;
      }
      100% {
          background-position: 0% 0%;
      }
  }

  .wave {
      background: rgb(255 255 255 / 25%);
      border-radius: 1000% 1000% 0 0;
      position: fixed;
      width: 200%;
      height: 12em;
      animation: wave 10s -3s linear infinite;
      transform: translate3d(0, 0, 0);
      opacity: 0.8;
      bottom: 0;
      left: 0;
      z-index: -1;
  }

  .wave:nth-of-type(2) {
      bottom: -1.25em;
      animation: wave 18s linear reverse infinite;
      opacity: 0.8;
  }

  .wave:nth-of-type(3) {
      bottom: -2.5em;
      animation: wave 20s -1s reverse infinite;
      opacity: 0.9;
  }

  @keyframes wave {
      2% {
          transform: translateX(1);
      }

      25% {
          transform: translateX(-25%);
      }

      50% {
          transform: translateX(-50%);
      }

      75% {
          transform: translateX(-25%);
      }

      100% {
          transform: translateX(1);
      }
  }