<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VoxWeb - Speak</title>
    <link rel="icon" type="image/x-icon" href="/static/voice_recognition/favicon.png">
    <!-- Include Bootstrap CSS -->
    <link href="static/voice_recognition/bootstrap.min.css" rel="stylesheet">
    <link href="static/voice_recognition/main.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/themes@5.0.15/dark/dark.css">

</head>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.lordicon.com/lordicon-1.1.0.js"></script>
<script src="https://unpkg.com/siriwave/dist/siriwave.umd.min.js"></script>
