<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speech Recognition</title>
    <!-- Include Bootstrap CSS -->
    <link href="static/voice_recognition/bootstrap.min.css" rel="stylesheet">
    <link href="static/voice_recognition/main.css" rel="stylesheet">
</head>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.lordicon.com/lordicon-1.1.0.js"></script>