{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>VoxWeb - Speak</title>
        <link rel="icon" type="image/x-icon" href="{% static 'voice_recognition/favicon.png' %}" >
        
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/themes@5.0.15/minimal/minimal.css">
        
        
        <link href="{% static 'voice_recognition/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'voice_recognition/voice_recognition.css' %}" rel="stylesheet">
        <link href="{% static 'voice_recognition/loading.css' %}" rel="stylesheet">
        <link href="{% static 'voice_recognition/loading.min.css' %}" rel="stylesheet">
        <link href="{% static 'voice_recognition/background.css' %}" rel="stylesheet">
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>    
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://cdn.lordicon.com/lordicon-1.1.0.js"></script>
        <script src="https://unpkg.com/siriwave/dist/siriwave.umd.min.js"></script>

        <script src="{% static 'voice_recognition/typing.js' %}"></script>
    </head>
<body>
