{% include 'login/header.html' %}
{% load static %}
<section>
    <div class="container">
        <div class="user signinBx">
            <div class="imgBx"><img src="{% static 'login_dashboard/login/backdrop1.jpg' %}" alt="" /></div>
            <div class="formBx">
                <form id="login-form" method="post">
                    <div class="text-center mb-4">
                        <img src="{% static 'login_dashboard/logo_2.png' %}" height="60px" style="margin-bottom: 2em;">
                        <h1>Sign In</h1>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="username_or_email" placeholder="Username or Email" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password" />
                    </div>
                    <div class="form-group text-right">
                        <input type="submit" class="btn btn-primary" value="Login" />
                    </div>
                    <p class="signup">
                        Don't have an account?
                        <a href="#" onclick="toggleForm();">Sign up.</a>
                    </p>
                </form>
            </div>
        </div>
        <div class="user signupBx">
            <div class="formBx">
                <form id="register-form" method="post">
                    <h1>Create an account</h1>
                    <div class="form-group">
                        <input type="text" class="form-control" name="username" placeholder="Username" required />
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Email Address" required />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Create Password"
                            required />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="confirm_password"
                            placeholder="Confirm Password" required />
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Sign Up" />
                    </div>
                    <p class="signup">
                        Already have an account?
                        <a href="#" onclick="toggleForm();">Sign in.</a>
                    </p>
                </form>
            </div>
            <div class="imgBx"><img src="{% static 'login_dashboard/login/backdrop2.jpg' %}" alt="" /></div>
        </div>
    </div>
</section>
<div class="wave"></div>
<div class="wave"></div>
<div class="wave"></div>
{% include 'login/footer.html' %}