.typewrite {
  color: white;
  text-decoration: none;
  font-family: 'Montserrat';
  font-size: 65px;
  font-weight: bolder;
}

.swal2-popup {
  background: linear-gradient(45deg, #176B87, #04364A) !important;
}

.swal2-input,
.swal2-title{
  color: #fff !important;
}

div:where(.swal2-container) .swal2-html-container{
  color: #fff !important;
}